.container {
    display: flex;
    flex-direction: column;
    width: 99vw;   
    min-width: 99vw;
    max-width: 99vw;
    height: 95vh;
    min-height: 95vh;
    max-height: 95vh;
    overflow-x: hidden;

}

.left {
    justify-self: flex-start;
}
.right {
    justify-self: flex-end;
}

.centered_x {
    justify-self: center;
}
.centered_y {
    align-self: center;
}

.top {
    align-self: flex-start;
}
.top.column {
    align-self: unset;
    justify-self: flex-start;
}

.bottom {
    align-self: flex-end;
}
.bottom.column {
    align-self: unset;
    justify-self: flex-end;
}

.flex_row {
    display: flex;
    width: 100%;
}
.flex_row.evened {
    justify-content: space-evenly;
}
.flex_row.between {
    justify-content: space-between;
}
.flex_row.around {
    justify-content: space-around;
}
.flex_row.left {
    justify-content: flex-start;
}
.flex_row.centered_x {
    justify-content: center;
}
.flex_row.centered_y {
    align-items: center;
}
.flex_row.right {
    justify-content: flex-end;
}

.flex_column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.flex_column.evened {
    justify-content: space-evenly;
}
.flex_column.between {
    justify-content: space-between;
}
.flex_column.around {
    justify-content: space-around;
}
.flex_column.left {
    justify-content: flex-start;
}
.flex_column.centered_x {
    justify-content: center;
}
.flex_column.centered_y {
    align-items: center;
}
.flex_column.right {
    justify-content: flex-end;
}

.logo_status_img {
    height: 30%;
}

.generic_button, #archive_button {
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
}
.generic_button_text, #archive_button_text {
    font-size: 15px;
    color: gray;
}
#archive_button {
    width: 10em;
    height: 2em;
}
.rules_set_button {
    background-color: rgb(241, 241, 241);
    width: auto;
    max-width: 30%;
    max-height: 60px;
    border-radius: 12px;
}
.rules_set_button_text {
    color: black;
    min-height: 40px;
}
.generic_button:hover > .generic_button_text { background-color: gray; color:white;} 
.generic_button:hover {
  background-color: gray;
  color: white;
}
.rules_set_button.selected >.rules_set_button_text {background-color: black; color: white;}
.rules_set_button.selected > div > img {filter: invert(100%);}
.rules_set_button.selected {
    background-color: black;
}

.event_row.selected {
    background-color: rgb(178, 251, 79);
}

.bordered.grey {
    border: 1px solid gray;
}
.bordered.none {
    border: none;
}

.filled.grey {
    background-color: rgb(241, 241, 241);
}

.break_words {
    word-break: break-all
}

.bold {
    font-weight: bold;
    font-size: 18px;
}

.fake_div {
    min-width: 5px;
    min-height: 5px;
}

#header {
    width: 100%;
    margin-right: -45px;
}

#left_side {
    width: 30%;
}

#center {
    width: 40%;
    margin-right: 5em;
}

#datetime {
    margin-right: 5%;
}

#right_side {
    width: 30%;
}

#user_logo_button {
    border-radius: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    width:3vw;
    height:3vw; 
    font-size: 1.5vw;
    outline:none;
    border: none;
    background-image: url('../../static/img/uix/user_logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3px;
}

#rules_set_row {
    min-height: 70px;

    margin-top: 20px;
        
    padding-left: 30px;
    
    background-color: rgb(241, 241, 241);
}

#content {
    padding-left: 30px;

    width: 100%;
    height: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
}

#events_table_div {
    margin-left: 45px;

    width: 100%;
    height: 100%;  
}

#events_table {

    border-collapse:collapse;
    border-spacing: 25px;

    width: 100%;
    min-width: 40vw;
    max-width: 80vw;
    height: 40%;
}

.event_datetime_cell {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 20%;
}
.event_datetime_cell td {
    text-align: right;
}
.competition_name_cell, .id_cell {
    text-align: center;
}
#show_more_events_button {
    height: 30px;
} 

@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.live_event {
    animation: blink normal 2s infinite ;
}

.event_row_arrow {
    position: relative;
    top: 2.5px;
    right: -25px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }

#central_divider, #right_divider {

    background-color: rgb(241, 241, 241);
    border: 10px solid rgb(241, 241, 241);
    
    max-width: 10px;

    margin-left: 15px;
    margin-right: 15px;
}
#right_divider {
    margin-right: 60px;
}

#event_data {
    width: 100%;
    height: 100%;  
}

.scores_table_div {
    margin-top: 10px;
    
    padding: 30px;

    width: 90.5%;
    height: 35%;  
    
    border-top: 3px solid rgb(241, 241, 241);
    border-bottom: 3px solid rgb(241, 241, 241);
}
.scores_table {
    border-collapse:collapse;
    border-spacing: 25px;

    width: 100%;
    min-width: 40vw;
    max-width: 80vw;
    height: 40%;
}
.period_number {
    font-size: xx-large;
}
.team_name {
    font-size: xx-large;
    width: 50%;
}
.period_score {
    font-size: xx-large;
    width: 10%;
}
.total_score_div {
    width: 30%;
    height: auto;
}
.total_score {
    font-size: xx-large;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

.messages_table_div {

    width: 100%;
    height: 100%;

    margin-top: 20px;
    
    overflow-x: hidden;
}

.messages_table {
    border-collapse: collapse;
    border-bottom: 3px solid rgb(241, 241, 241);

    width: 100%;
    min-width: 30vw;

    text-align: center;

}
.messages_table thead {

    border-bottom: 3px solid rgb(241, 241, 241);
    margin-top: -15px;

    color: rgb(58, 58, 58);
    margin-bottom: 10px;
    
}
.messages_table tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
  }
.messages_table tr:nth-child(odd) {
    background-color: white;
  }
.messages_table tbody:before {
    content:"@";
    display:block;
    line-height:15px;
    text-indent:-99999px;
}

#footer {
    width: 70%;
    margin-left: 45px;
    margin-top: 15px;

}

#footer_logo {
    width: auto;
    height: 18px; /* height of the logo */
}

