{% block rows %}
  <script>
    //TODO update data insertion from static (page reload) to dynamic and make this function work
    function get_messages(){ 
         $.ajax('http://127.0.0.1:8000/new_ind', {
            type: "POST",
            data: { "task": "get" },
            success: function(data, status, xhr) {
                var objJSON = JSON.stringify(data);
                var dict = JSON.parse(objJSON); 

                for (let i = 0; i < dict.lenght; i++) {
                    let row = `<tr><th>${dict[i].id}</th><th>${dict[i].text}</th></tr>`;
                    $("content").append($row)
                }
            }
        })
    }

    var timer = setInterval(get_messages(), 10000);

  </script>
{% endblock %}