<!DOCTYPE html>
{% load static %}
{{ variable|json_script:'server_address' }}
{{ variable|json_script:'requests_interval' }}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feed Bot</title>

    <!-- get JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'website/js/ajax.js' %}"></script>   

</head>
<body>
    <div id="content">
    </div>  
</body>
</html>